<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartcard">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".store"></activity>
        <activity android:name=".stationery" />
        <activity android:name=".canteen" />
        <activity android:name=".Merchantpay" />
        <activity android:name=".Forgotpass" />
        <activity android:name=".Qr" />
        <activity android:name=".Merchant" />
        <activity android:name=".AdminHome" />
        <activity android:name=".Adminlogin" />
        <activity android:name=".ParentRegister" />
        <activity
            android:name=".Login"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity android:name=".Payment" />
        <activity
            android:name=".Spalsh"
            android:theme="@style/Theme.Design.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_ccCLHM5IY50Xe1" />
    </application>

</manifest>